{{#models}}{{#model}}
# {{classname}}

{{#unescapedDescription}}{{unescapedDescription}}

{{/unescapedDescription}}

## Properties

| Property | Options | Type | Description |
| :--- | :--- |
{{#vars}}`{{name}}` | {{^required}}optional{{/required}} | {{#isNot this 'primitive-type'}}[{{datatype}}]({{complexType}}){{/isNot}} | {{unescapedDescription}} {{#dataFormat}}format: {{{dataFormat}}}{{/dataFormat}}{{#is this 'enum'}}Values: {{#_enum}}{{this}}{{^@last}}, {{/@last}}{{/_enum}}{{/is}}
{{/vars}}
{{/model}}
{{/models}}
