{{#models}}{{#model}}
# {{classname}}

{{#unescapedDescription}}{{unescapedDescription}}

{{/unescapedDescription}}

## Properties

| Property | Type | Description |
| :--- | :--- | :--- |
{{#vars}}{{^isDeprecated}}| `{{name}}{{#required}} *{{/required}} ` | {{#isNot this 'primitive-type'}}[{{datatype}}]({{complexType}}){{/isNot}} | {{{unescapedDescription}}} {{#dataFormat}}format: {{{dataFormat}}}.{{/dataFormat}}{{#is this 'enum'}}Values: {{#_enum}}{{this}}{{^@last}}, {{/@last}}{{/_enum}}{{/is}} |
{{/isDeprecated}}{{/vars}}
{{/model}}
{{/models}}
